<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
        <plugins>
            <add name="Blackbaud.UAT.SpecFlow.Selenium" path="packages\Blackbaud.UAT.SpecFlow.Selenium.1.0.765.6" />
        </plugins>
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <unitTestProvider name="BBTest" />
        <stepAssemblies>
            <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
            <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
        </stepAssemblies>
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    </specFlow>
    <appSettings>
        <!-- Capture screen at end of test - false, true (always) or fail (on failure only) -->
        <!-- Credentials for performance log upload - "domain\usernamme:password" or empty for no authentication -->
        <!--<add key="BBCRMBaseUrl" value="https://s01t2iseweb001.blackbaudqa.net:443/bbappfx_40m" />-->
        <add key="BBCRMBaseUrl" value="http://gla6rossthoms02/bbappfx_BlackbaudDemo" />
        <add key="BBISBaseUrl" value="https://s01t2iseweb001.blackbaudqa.net:443/bbis_40m" />
        <add key="BBCRMHomeUrl" value="/webui/webshellpage.aspx?databasename=BBInfinity" />
        <add key="BBISHomeUrl" value="/cms/adminhome" />
        <add key="Credentials" value="demo.user:P@ssw0rd!" />
        <add key="BBISCredentials" value="Supervisor:admin" />
        <!-- Start Chrome Maximised - true or false -->
        <add key="ChromeDriver.Maximise" value="true" />
        <!-- Use a RemoteDriver - false or RemoteDriver location e.g. "http://10.10.122.86:9515" -->
        <!-- <add key="RemoteDriver" value="http://10.10.122.86:9515" /> -->
        <!-- Start chrome with specified language e.g. en-GB-->
        <!-- You should manually un-comment this and set to your required value to avoid unexpected consequences on nuget upgrade -->
        <!-- <add key="ChromeDriver.language" value="en-US" /> -->
        <!-- Webdriver (feature) logging - false, true or verbose-->
        <!-- Chromedriver performance logging - true or false-->
        <!-- Url to upload performance log to - false or a Url e.g "https://s01t2wptsvr001.blackbaudqa.net" -->
        <!-- Note that Setting a WebPageTestUrl will implicitly set Performance logging and Screenshot to true -->
        <!-- Chromedriver Mobile emulation https://developer.chrome.com/devtools/docs/device-mode - false or device to emulate e.g."Apple iPhone 6" -->
        <add key="ChromeDriver.Maximise" value="false" />
        <add key="RemoteDriver" value="false" />
        <add key="ChromeDriver.Logging" value="false" />
        <add key="ChromeDriver.PerfLogging" value="false" />
        <add key="ChromeDriver.Screenshot" value="fail" />
        <add key="ChromeDriver.WebPageTestUrl" value="false" />
        <add key="ChromeDriver.WebPageTestCredentials" value="" />
        <add key="ChromeDriver.MobileEmulationDevice" value="false" />
    </appSettings>
</configuration>